# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# WebSocket Configuration (optional)
NEXT_PUBLIC_WS_URL=ws://localhost:3002

# App Configuration
NEXT_PUBLIC_APP_NAME=MidatoPay
NEXT_PUBLIC_APP_VERSION=1.0.0

# Feature Flags
NEXT_PUBLIC_ENABLE_ANALYTICS=false
NEXT_PUBLIC_ENABLE_DEBUG=true


root@srv1106688:/# docker inspect midatopay-frontend-prod --format='{{range .Config.Env}}{{println .}}{{end}}'
NEXT_PUBLIC_API_URL=https://midatopay.com
NEXT_PUBLIC_WS_URL=wss://midatopay.com/ws
NEXT_PUBLIC_APP_NAME=MidatoPay
NEXT_PUBLIC_APP_VERSION=1.0.0
NEXT_PUBLIC_APP_URL=https://midatopay.com
NEXT_PUBLIC_ENABLE_ANALYTICS=true
NEXT_PUBLIC_ENABLE_DEBUG=false
CAVOS_APP_ID=app-8369a186102a0f4d8ef697a0ecd9c7fd
CAVOS_API_SECRET=67bd4d984d51a53b6ab110f2a45f62ae2a09007641cd65ff1d0d0d257419bdb9
CAVOS_API_HASH_SECRET=93da91ee0bcafdabb49cf6c4a11b68517b3d4fdf5c7d2a87fc50543cdd8efa64
CLERK_SECRET_KEY=sk_test_5JKs7k24wzhwJSx6yd4Lyn1uEZRSxOtfpQ3GM3tF4h
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dGVhY2hpbmctb3J5eC0xMS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_JWKS_URL=https://teaching-oryx-11.clerk.accounts.dev/.well-known/jwks.json
NODE_ENV=production
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
NODE_VERSION=18.20.8
YARN_VERSION=1.22.22